<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>预测雾霾数据</title>
</head>
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="../static/css/css4for.css" rel="stylesheet"/>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/echarts/5.3.3/echarts.min.js"></script>
</head>

<body>
    <div class="continer">
        <div class="inputInfo">
            <h3 class="textForm">请选择查询日期</h3>
                <form action="/forecastData/" method="post">
                {% csrf_token %}
                <div class="input-group input-group-lg mb-3">
                    <input type="date"
                           name="q" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg">
                    <input type="submit" value="查询" class="btn btn-outline-secondary btn-dark">
                </div>
            </form>
        </div>

        <div id="main" class="ech"></div>
    </div>
    <script>
         var t = "{{ rlt }}";
        t = JSON.parse(t.replace(/&quot;/g, "\""));
     let obj = t[0];
     let nums = Object.keys(obj).length - 1;

     let seriesData = [];
     for (let i = 0; i < nums; i++) {
         seriesData.push({ type: 'line'});
     }

     //设置表的参数；
     var option = {
         title: {
            text : 'Predict Data',
            left: 'center'
         },
         legend: {
            orient: 'vertical',
            left: 'left'
         },
         tooltip: {},
         dataset: {
             source: t
         },

         xAxis: { type: 'category' },

         yAxis: {},

         series: seriesData
    };

    let currentIndex = -1;
    var myChart = echarts.init(document.getElementById('main'));

    myChart.setOption(option);

    </script>
</body>
</html>