<!DOCTYPE html>
<html>

<head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/echarts/5.3.3/echarts.min.js"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/index.css"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <title>雾霾查询系统</title>
</head>

<body>
    <header>
        <h1>雾霾查询系统</h1>
    </header>

    <section class="mainbox">
        <div class="column">
            <div class="panel">
                <img class="wholeImg" src="../static/img/brokenHouse.jpg">
                <div class="panel-footer">
                </div>
            </div>
            <div  style="margin-top: 1.25rem;">
                <div class="textForm">
                    往年数据查询
                </div>
                <a class="bn39" href="../historyDataView" target="_blank"><span class="bn39span">查看详情</span></a>
                <div class="panel-footer">
                </div>
            </div>
        </div>




        <div class="column" style="margin-left: 10px; margin-right: 10px">
            <div class="panel4weather">
                <div>
                    <img src="../static/img_weather/dingwei.png" alt="location" width="25px" height="25px"/>
                        <p class="text4weather">当前位于:</p>
                        <p class="text4weather">北京</p>
                </div>
                <div class="date">
                    <p>
                    </p>
                </div>
                <div class="temperature">
                    <div class="imgWeather"><img src="" width="80px" height="80px" id="imgWeather"/></div>
                    <span id="wendu"></span>
                    ℃
                </div>
                <div class="data">
                    <div class="weather-icon">
                        <img class="data1" src="../static/img_weather/wumai.png"width="30px" height="30px">
                        <p class="weatherData">海平线：<span id="sealevel"></span></p>
                    </div>
                    <div class="weather-icon">
                        <img class="data1" src="../static/img_weather/tianqi-_9.png" width="30px" height="30px" >
                        <p class="weatherData">空气湿度：<span id="shidu"></span> </p>
                    </div>
                    <div class="weather-icon">
                        <img class="data1" src="../static/img_weather/fengsu.png" width="30px" height="30px">
                        <p class="weatherData">风速：<span id="wind"></span></p>
                    </div>
                    <div class="weather-icon">
                        <img class="data1" src="../static/img_weather/eye.png" width="30px" height="30px">
                        <p class="weatherData">气压：<span id="pressure"></span></p>
                    </div>
                </div>
                <div class="panel-footer">
                </div>
            </div><!-- 天气模块 -->
            <!-- 图线-->
            <div class="panel4echart" style="margin-top: 1.25rem;">
                <div id="main" style="width: 600px; height: 300px;"></div>
            </div>
        </div>



        <div class="column">
            <div class="panel">
                <img class="wholeImg" src="../static/img/house.jpg">
                <div class="panel-footer">
                </div>
            </div>
            <div style="margin-top: 1.25rem;">
                <div class="textForm">
                    数据预测
                </div>
                <a class="bn39" href="../forecastData" target="_blank"><span class="bn39span">查看详情</span></a>
                <div class="panel-footer">
                </div>
            </div>
        </div>
    </section>

  <script>
     //获取服务器传输过来的数据；
     var t = "{{names}}";
     //将服务器传输过来的数据转化为JSON格式；
     t = JSON.parse(t.replace(/&quot;/g, "\""));
     let obj = t[0];
     let nums = Object.keys(obj).length - 1;

     let seriesData = [];
     for (let i = 0; i < nums; i++) {
         seriesData.push({ type: 'line',symbol: 'none',
      sampling: 'lttb',
      itemStyle: {
        color: 'rgb(255, 70, 131)'
      },
      areaStyle: {
        color: new echarts.graphic.LinearGradient(0, 0, 0, 1, [
          {
            offset: 0,
            color: 'rgb(255, 158, 68)'
          },
          {
            offset: 1,
            color: 'rgb(255, 70, 131)'
          }
        ])
      },});
     }

     //设置表的参数；
     var option = {
         title: {
            text : 'HazeData',
            left: 'center'
         },
         legend: {
            orient: 'vertical',
            left: 'left'
         },

         tooltip: {
    trigger: 'axis',
    position: function (pt) {
      return [pt[0], '10%'];
    }
  },
  toolbox: {
    feature: {
      dataZoom: {
        yAxisIndex: 'none'
      },
      restore: {},
      saveAsImage: {}
    }
  },
  grid: {
    left: '3%',
    right: '4%',
    bottom: '3%',
    containLabel: true
  },
         dataset: {
             source: t
         },

         xAxis: {
    type: 'category',
    boundaryGap: false,

  },
  yAxis: {
    type: 'value',
    boundaryGap: [0, '100%']
  },

 dataZoom: [
    {
      type: 'inside',
      start: 0,
      end: 10
    },
    {
      start: 0,
      end: 10
    }
  ],
         series: seriesData
    };

    let currentIndex = -1;
    var myChart = echarts.init(document.getElementById('main'));

    myChart.setOption(option);
    myChart.on('click', function(params) {

    window.open('http://127.0.0.1:8000/tempDL/');
});
  </script>
 <script src="../static/js/flexible.js" type="text/javascript"></script>
    <script type="text/javascript">
        var xhr=new XMLHttpRequest();
        var d=new Date();
        lat = 39.54
        lon = 116.23
        var urlString = "https://api.openweathermap.org/data/2.5/weather?lat="+lat+"&lon="+lon+"&appid=05b59d5e0447a01b83d0bb50d402c7c2&lang=zh_cn"
        console.log(urlString);
        document.getElementsByClassName("date")[0].innerHTML=d.toLocaleDateString();
        xhr.open("GET",urlString,true);
        xhr.onreadystatechange=function () {
            if (xhr.readyState==4){
                if(xhr.status==200){
                    var weather_Data=JSON.parse(xhr.responseText);
                    console.log(weather_Data);
                    //document.getElementsByClassName("location2")[0].innerHTML="当前位置："+weather_Data.location[0].toFixed(2)+"&nbsp;&nbsp;&nbsp"+weather_Data.location[1].toFixed(2);
                    document.getElementById("wendu").innerHTML = (weather_Data.main.temp - 273.15).toFixed(0);
                    document.getElementById("shidu").innerHTML=weather_Data.main.humidity;
                    document.getElementById("wind").innerHTML=weather_Data.wind.speed;
                    document.getElementById("pressure").innerHTML=weather_Data.main.pressure;
                    document.getElementById("sealevel").innerHTML=weather_Data.main.sea_level;
                   var currentWeather = weather_Data.weather[0].main;
                    if (currentWeather=="Clear" )
                    {
                        document.getElementById("imgWeather").setAttribute("src","../static/img_weather/qing.png");
                    }
                    else if(currentWeather=="Clouds")
                    {
                        document.getElementById("imgWeather").setAttribute("src", "../static/img_weather/ying.png");
                    }
                    else if(currentWeather=="Rain")
                    {
                        document.getElementById("imgWeather").setAttribute("src", "../static/img_weather/yu.png");
                    }
                }
            }
        }
        xhr.send(null);
        console.log();

    </script>
</body>

</html>
